.container-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.container-title {
    display: flex;
    width: auto;
    padding: 20px 0 30px 0;
    justify-self: flex-start;
    position: relative;

}

.container-title h1 {
    font-size: 45px;
}

.container-desc {
    max-width: 750px;
    min-width: 300px;
    border-top:2px solid #000000;
    border-bottom:  2px solid #000000;
}

.container-desc h3 {
    font-size: 20px;
    font-weight: 200;
}

.container-button {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-button div{
    display: flex;
    min-width: 600px;
    width: 650px;
    max-width: 700px;
    flex-direction:  row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}

.btn-tracking {
    padding: 17px 30px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #a1dba2;
    border: 2px solid #000000;
    
    transition: ease 0.5s;
}

.btn-report {
    padding: 17px 30px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #a7c4f9;
    border: 2px solid #000000;
    transition: ease 0.5s;
}

.btn-report:hover, 
.btn-tracking:hover {
    transform: scale(1.05);
    transition: ease 0.5s;
}


.container-footer {
    margin-top: auto;
    border-top: 2px solid #000000;
    padding: 0 30px 30px 30px;
    max-width: 750px;
    min-width: 300px;
}

.container-footer p {
    font-size: 15px;
    font-weight: 200;
}