@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.05px;
  line-height: 1.2; 
  color-scheme: light dark;
  color: #000000;
  background: linear-gradient(135deg, #F4F4F6, #F5F5F7);
  list-style: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background: linear-gradient(135deg, #F4F4F6, #F5F5F7);
  }
}
